*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-image: url(../media/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    animation: slide 15s linear infinite;
}

.banner .slider{
    position: absolute;
    width: 180px;
    height: 220px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1400px) rotateX(-15deg) rotateY(var(--angle));
    animation: slide 25s linear infinite;
}
.slider:hover{
    animation-play-state: paused;
}

@keyframes slide {
    form{
        /* transform: perspective(1400px) rotateX(-15deg) rotateY(0deg); */
        --angle: 0deg;
    }
    to{
        /* transform: perspective(1400px) rotateX(-15deg) rotateY(360deg); */
        --angle: 360deg;
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s linear;
    border-radius: 10px;
    
}
/* .item::before{
    content: "AK-4k this is the one of the best gun in the whole aramy";
    position: absolute;
    bottom: 10%;
    text-shadow: 20px 20px 20px blue;
    opacity: 0;
    transition: all .5s linear;
    width: 40%;
    color: white;
    background-color: black;
    


} */

.gun-name{
    position: absolute;
    width: 80px;
    bottom: 20%;
    color: white;
    font-weight: bolder;
    opacity: 0;
    transition: all .5s linear;
}
.gun-name p {
    font-size: 12px;
}

.item::after{
    content: "";
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    background-image: url(../media/img1-removebg-preview.png);
    position: absolute;
    border-radius: 10px;
    inset: 0 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.item:nth-child(2)::after{
    background-image: url(../media/img2-removebg-preview.png);
}
.item:nth-child(3)::after{
    background-image: url(../media/img3-removebg-preview.png);
}
.item:nth-child(4)::after{
    background-image: url(../media/img4-removebg-preview.png);
}
.item:nth-child(5)::after{
    background-image: url(../media/img5-removebg-preview.png);
}
.item:nth-child(6)::after{
    background-image: url(../media/img6-removebg-preview.png);
}
.item:nth-child(7)::after{
    background-image: url(../media/img7-removebg-preview.png);
}
.item:nth-child(8)::after{
    background-image: url(../media/img8-removebg-preview.png);
}
.item:nth-child(9)::after{
    background-image: url(../media/img9-removebg-preview.png);
}
.item:nth-child(10)::after{
    background-image: url(../media/img10-removebg-preview.png);
}
.item:hover .gun-name{
    transform: perspective(900px) translate3d(0%, -25%, -100px);
    opacity: 1;
    font-weight: bolder;
}

.item:hover .wrapper{
    transform: perspective(800px) rotateX(30deg);
}
.item:hover::after {
    opacity: 1;
    transform: perspective(800px) translate3d(0%, -10%, -100px);
    animation: rotate 5s linear infinite 0.8s;
}

@keyframes rotate {
    0%{
        transform: perspective(800px) translate3d(0%, -10%, -100px) rotateY(0deg) rotateX(0deg);
    }
    25%{
        transform: perspective(800px) translate3d(0%, -10%, -100px) rotateY(50deg) rotateX(0deg);
    }
    50%{
        transform: perspective(800px) translate3d(0%, -10%, -100px) rotateY(0deg) rotateX(0deg);
    }
    75%{
        transform: perspective(800px) translate3d(0%, -10%, -100px) rotateY(0deg) rotateX(50deg);
    }
    100%{
        transform: perspective(800px) translate3d(0%, -10%, -100px) rotateY(0deg) rotateX(0deg);
    }

    
}

.img-center{
    position: absolute;
    text-align: center;
    top: 30%;
    left: calc(50% - 140px);
}